* {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

body {
  font-family: 'Hind', sans-serif;
  line-height: 2;
  display: flex;
  flex-flow: column wrap;
  background-color: #39393A;
  justify-content: center;
  align-items: baseline;
  align-content: center;
  text-align: center;
  width: 100%;
  font-size: 18px;
}
#banner {
  background-color: #85FFC7;
  color: #39393A;
  margin: auto;
  flex-grow: 1;
  width: 100%;
}

h1 {
  justify-items: center;
}
#aboutMe {
  background-color: #39393A;
  color: #e6e6e6;
  width: 100%;
}

#workExp {
  background-color: #E6E6E6;
  color:#39393A;
  width: 100%;
}

footer {
  position: relative;
  bottom: 0;
  background-color: #FF8552;
  color:#E6E6E6;
  width: 100%;
}

a:link {
  color:#297373;
}

a:visited {
  color: #1b4b4b;
}

a:hover {
  color: #39393A;
}

ul {
  justify-content: flex-start;
  text-align: start;
  padding: 5px;
}